<div class="row mx-0">
 <!--  <div class="col-md-1 p-0 pl-1">
    <div class="LinksForecasting-lg ">
      <div class="weatherWidget">
        <a class="weatherwidget-io" href="https://forecast7.com/en/19d7575d71/maharashtra/" data-label_2="WEATHER" data-font="Helvetica" data-icons="Climacons Animated" data-mode="Forecast" data-days="5" data-theme="clear" data-basecolor="#EDF1F5" >
         WEATHER
        </a>
      </div>
    </div>
  </div> -->
  <div class="col-md-10 p-0">
    <div class="categories">
        <h3>Categories</h3>
        <div class="row m-0 categoriesCompart">     
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Farming Tools, Equipment & Machines/">
                <img src="assets/categories/shovel-svgrepo-com.svg" alt="Shovel icon" class="img-fluid">
                <h5>Farming Tools, <br> Equipment & Machines</h5>
              </a>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Flowers, Plants & Trees/">
                <img src="assets/categories/plant.svg" alt="Shovel icon" class="img-fluid">
                <h5>Flowers, Plants <br> & Trees</h5>
              </a>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Seeds Plants & Saplings/">
                <img src="assets/categories/seed.svg" alt="Shovel icon" class="img-fluid">
                <h5>Seeds Plants <br> & Saplings</h5>
              </a>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Tractor, Tractor Parts & Assemblies/">
                <img src="assets/categories/tractor.svg" alt="Shovel icon" class="img-fluid">
                <h5>Tractor, Tractor Parts <br> & Assemblies</h5>
              </a>
            </div>
        </div>

        <div class="row m-0 categoriesCompart">
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Bird Food, Poultry & Animal Food/">
                <img src="assets/categories/cow.svg" alt="Shovel icon" class="img-fluid">
                <h5>Bird Food, Poultry <br> & Animal Food</h5>
              </a>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Irrigation & Harvesting Machines/">
                <img src="assets/categories/harvester.svg" alt="Shovel icon" class="img-fluid">
                <h5>Irrigation & <br> Harvesting Machines</h5>
              </a>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Fertilizers and Soil Additives/">
                <img src="assets/categories/fertilizer.svg" alt="Shovel icon" class="img-fluid">
                <h5>Fertilizers and Soil Additives</h5>
              </a>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Coir & Agro Products/">
                <img src="assets/categories/coir.svg" alt="Shovel icon" class="img-fluid">
                <h5>Coir and Agro Products</h5>
              </a>  
            </div>
        </div>

        <div class="row m-0 categoriesCompart">
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Farming and Pet Animals/">
              <img src="assets/categories/chicken.svg" alt="Shovel icon" class="img-fluid">
              <h5>Farming and Pet Animals</h5>
              </a>           
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Agri Finance/">
                <img src="assets/categories/rupee.svg" alt="Shovel icon" class="img-fluid">
                <h5>Agri Finance</h5>
              </a>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Agri Insurance/">
                <img src="assets/categories/insurance.svg" alt="Shovel icon" class="img-fluid">
                <h5>Agri Insurance</h5>
              </a>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
              <a class = "categoriesAnchor" href="SubCategories/sub/Agri Related Business/">
                <img src="assets/categories/agriBussiness.svg" alt="Shovel icon" class="img-fluid">
                <h5>Agri Related Business </h5>
              </a>
            </div>               
        </div>
    </div>
  </div>
</div>

<!-- ---------RegisterWithUs -->

<div class="row m-0 text-center registerWithUs">
  <div class="col-sm blockOne">
      <button data-toggle="modal" data-target=".supplierSignUp" >Register here & List Your Business</button>
  </div>

  <div class="col-sm blockTwo">
      <button data-toggle="modal" data-target=".customerSignUp" > Become Member & Join Us</button>
  </div>
</div>

<!-- ----------Featured Advertisement -->
<div class="container-fluid py-3 bg-white">
  <h3 class="text-center">Featured</h3>
  <ul class="nav justify-content-center tabset">
    <li class="active"><a data-toggle="tab" href="#home"> <h4>New Launch</h4></a></li>
    <li><a data-toggle="tab" href="#menu1"><h4>Offers</h4></a></li>
    <li><a data-toggle="tab" href="#menu2"><h4>Popular</h4></a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade show active">
     <!-- -----------------------------------------------Carousel Starts Here -->
       <!-- <div class="con-slider">
        <ul id="autoWidth" class="cs-hidden">
          {% for arrival in newArrival %}
          <li class="item-a">
            <a href="/product/productDescription/{{arrival.pk}}">
              <div class="card crd-slider">
                <img src = {{arrival.image.url}} class="model ">
                <div class="card-body details">
                  <h5>{{arrival.name}}</h5>
                  <b><h6>Price : &nbsp₹ {{arrival.price}}</h6></b>
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div> -->
      <!-- -----------------------------------------------Carousel Ends Here -->
    </div>  
    <div id="menu1" class="tab-pane fade">
      <h3 class="text-center">Offers</h3>
      <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3 class="text-center">Popular</h3>
      <p>Some content in menu 2.</p>
    </div>
  </div>
</div>

<!-- -------Requirement Form -->
<div class="container-fluid text-center requirement">
  <h2>Get Verified Sellers</h2>
  <span> Tell us what you need & recive seller details on phone and email </span>

    <div class="container requirementNestedForm">
      <form action="/">
       <div class="form-group requirementFormGroup">
           <input type="text" name="txtProduct" id="txtProduct" placeholder="Product Name.." class="form-control">
       </div>

       <div class="form-group requirementFormGroup">
           <input type="text" name="txtRequirement" id="txtRequirement" placeholder="Requirement.." class="form-control">
       </div>

       <div class="form-group">
           <input type="submit" value="Get Sellers" class="btn-primary">
       </div>
      </form>
  
  </div>
</div>

<!-- ----------Advertisement -->
<div class="container-fluid pt-4 bg-white px-5">
  <h4 class="mb-0">Farming Tools Equipment & Machines</h4>
  <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Flower Plant and trees -->
<div class="container-fluid pt-4 bg-white px-5">
  <h4 class="mb-0">Flower Plants & Trees</h4>
  <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/plant.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/plant.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/plant.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/plant.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Seeds Plant & Sapling -->
<div class="container-fluid pt-4 bg-white px-5">
  <h4 class="mb-0">Seeds Plant & Sapling</h4>
  <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/seed.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/seed.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/seed.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/seed.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Tractor, Tractor Parts & Assemblies -->
<div class="container-fluid pt-4 bg-white px-5">
  <h4 class="mb-0">Tractor, Tractor Parts & Assemblies</h4>
  <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/tractor.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/tractor.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/tractor.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/tractor.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Bird Poultry & Animal Food -->
<div class="container-fluid pt-4 bg-white px-5">
  <h4 class="mb-0">Bird Poultry & Animal Food</h4>
  <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
  </div>
</div>

<!--Irrigation & Harvesting Machine  -->
<div class="container-fluid pt-4 bg-white px-5">
  <h4 class="mb-0">Irrigation & Harvesting Machine</h4>
  <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Fertilizers & Soil Addictive -->
<div class="container-fluid pt-4 bg-white px-5">
  <h4 class="mb-0">Fertilizers & Soil Addictive</h4>
  <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Coir & Agro Products -->
<div class="container-fluid pt-4 bg-white px-5">
  <h4 class="mb-0">Coir & Agro Products</h4>
  <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Farming & Pet Animals -->
<div class="container-fluid pt-4 bg-white px-5">
  <h4 class="mb-0">Farming & Pet Animals</h4>
  <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 py-3">
        <div class="card crd-slider">
          <img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
          <div class="card-body details">
            <h5></h5> 
          </div>
        </div>
      </div>
  </div>
</div>