<!-- //Navbar -->
<div class="sticky-top justify-content-between" >
  <nav class="navbar  col-12 text-white p-0">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 navBarBeltThreeA" id="navbarNavDropdown">
      
        <ul class="nav nav-fill flex-sm-row d-flex">
          <li *ngIf="!login ; else logout" class="nav-item">
            <div class="dropdown">
              <a class="btn dropdown-toggle nav-link" role="button" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" >  Login
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" 
                (click)="showSellerSignIn()">Seller</button>
                <button class="dropdown-item" type="button" data-toggle="modal"
                  (click)="customerSignInModal.show()">Customer</button>
              </div>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" (click)="opengovermentlink()">Goverment Links </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openlistbusiness()"> List Business </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="openhome()"> Home </a>
          </li>

          <ng-template #logout>
            <li class="nav-item">
              <a class="nav-link" (click)="logoutSupplier()">Logout</a>
            </li>
          </ng-template>


        </ul>
      
    </div>
    <!-- do not remove -->
    <!-- <div class="col-sm-5 col-md-5 col-lg-5 text-center navBarBelt">
      <p-megaMenu [model]="items"></p-megaMenu>
    </div> -->
    <div class="col-sm-12 col-md-2 col-lg-2 text-center navBarBelt">
      <h2> बळीराजा </h2> 
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5 justify-content-end mr-0" id="navBeltTwo">

     <div class="p-grid p-fluid p-mr-0">
      <div class="p-col-3 navBeltCategory p-mr-0">
       
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu">
          <!-- Drop down List -->
          <div class="container dropDownContainer">
            <div class="row p-2">
              <div class="col-3 col-sm-3 col-md-4 col-lg-4 dropDownColumn">
                <ul class="categoriesList">
                  <a href="">
                    <li>Farming Tools, Equipment & Machines</li>
                  </a>
                  <a href="">
                    <li>Flowers, Plants & Trees</li>
                  </a>
                  <a href="">
                    <li>Seeds and Plant Saplings</li>
                  </a>
                  <a href="">
                    <li>Tractor, Tractor Parts & Assemblies</li>
                  </a>
                </ul>
              </div>
              <div class="col-3 col-sm-3 col-md-4 col-lg-4 dropDownColumn">
                <ul class="categoriesList">
                  <a href="">
                    <li>Bird Food, Poultry & Animal Food</li>
                  </a>
                  <a href="">
                    <li>Irrigation & Harvesting Machines</li>
                  </a>
                  <a href="">
                    <li>Fertilizers and Soil Additives</li>
                  </a>
                  <a href="">
                    <li>Coir and Agro Products</li>
                  </a>
                </ul>
              </div>
              <div class="col-3 col-sm-3 col-md-4 col-lg-4 dropDownColumn">
                <ul class="categoriesList">
                  <a href="">
                    <li>Farming and Pet Animals</li>
                  </a>
                  <a href="">
                    <li>Agri Finance</li>
                  </a>
                  <a href="">
                    <li>Agri Insurance</li>
                  </a>
                  <a href="">
                    <li>Agri Related Business</li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
          <!-- Drop Down list Ending--------------------------- -->
        </div>
        <!-- Drop Down list Ending--------------------------- -->
      </div>

      <div class="p-col-9">
        <div class="p-inputgroup ">
        <!-- navBeltTwoInputGroup -->
          <!-- <input type="text" class="p-inputtext-sm" pInputText  class="" id ="navbarSearchInput" aria-label="Text input with dropdown button" placeholder="Search Product.." [(ngModel)] = "searchedProduct"> -->
          <!-- <button class="btn btnNavBarSearch" pButton id = "btnNavBarSearch" (click)="search()">
            <i class="pi pi-search"></i>
          </button> -->
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Search Product">   
            <button type="button" pButton pRipple icon="pi pi-search"
             styleClass="p-button-warn" (click)="search()" id = "btnNavBarSearch"></button>      
        </div>
          
        </div>
      </div>
     </div>
      
    </div>
    <div class="navBarBeltThreeB">
      <ul class="nav nav-fill flex-sm-row d-flex">
        <li class="nav-item">
          <a class="nav-link active" (click)="openhome()"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="openlistbusiness()"> List Business </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" (click)="opengovermentlink()">Goverment Links </a>
        </li>
        <li class="nav-item" *ngIf="!login ; else logout" >
          <div class="dropdown">
            <a class="btn dropdown-toggle nav-link" role="button" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" >  Login
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" 
              (click)="showSellerSignIn()">Seller</button>
              <button class="dropdown-item" type="button" data-toggle="modal"
                (click)="customerSignInModal.show()">Customer</button>
            </div>
          </div>
        </li>
        <ng-template #logout>
          <li class="nav-item">
            <a class="nav-link" (click)="logoutSupplier()">Logout</a>
          </li>
        </ng-template>


      </ul>
    </div>
  </nav>
</div>

<!-- Seller LogIn -->
<p-dialog id="displaySellerSignIn" [(visible)]="displaySellerSignIn" [style]="{width: '30vw'}"  [baseZIndex]="10000">
  <ng-template pTemplate="header" styleClass="templateHead" >
    <h5 id="dialog-child-name" class=""> Sign In</h5> 
  </ng-template>
  
  <form id="supplierSignIn" #supplierLogin="ngForm" (onSubmit)="loginSupplier()" style="text-align: center; margin-top: 30px;">
   
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
            <label for="supplierLoginEmailId" class="p-sr-only">Email Id</label>
            <input id="supplierLoginEmailId"  name="supplierLoginEmailId" class="p-inputtext-sm" type="text"
             pInputText placeholder="Email Id" required [(ngModel)]="supplierLoginEmailId"> 
        </div>
        <div class="p-field p-col-12">
            <label for="supplierLoginpassword" class="p-sr-only">Password</label>
            <input id="supplierLoginpassword" name="supplierLoginpassword" class="p-inputtext-sm" type="password"
             pPassword placeholder="Password" required [(ngModel)]="supplierLoginpassword"> 
        </div>
        <div class="p-field p-col-12">
          <p-button type="submit" label="Sign In" icon="pi pi-check" [disabled]="supplierLogin.invalid"
          [class.disable]="supplierLogin.invalid" styleClass="p-button-sm"  (click)="loginSupplier()"></p-button>
        </div>    
      </div>
    <p-footer>
      New Seller ?<a  (click)="supplierSignUpshow()"> Start Here</a>
    </p-footer>
    
  </form> 
</p-dialog>

<!-- ------------Supplier/Seller Sign Up Model -->
<p-dialog id="displaysupplierSignUp" [(visible)]="displaysupplierSignUp" [style]="{width: '40vw'}" [baseZIndex]="10000">
  <ng-template pTemplate="header"  >
    <h5 id="dialog-child-name" class="modal-title">Sign Up</h5>
  </ng-template>  
  <form id="createNewSupplier" #createNewSupplier = "ngForm" (ngSubmit) = "createSupplier()" style="margin-top: 30px;">
    	
 
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
        <label for="txtProduct">
          <i class="fa fa-user pr-1"></i>
          Full Name
        </label>
        <input pInputText type="text" [(ngModel)] = "suppplierSignUpfullname" class="p-inputtext-sm"
            name="suppplierSignUpfullname" id="fullName" placeholder="Full Name" required>
      </div>
      <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
        <label for="txtProduct">
          <i class="fa fa-envelope pr-1"></i>
            Email
        </label>
        <input pInputText type="text" [(ngModel)] = "suppplierSignUpEmail" class="p-inputtext-sm"
            name="suppplierSignUpEmail" id="suppplierSignUpEmail" placeholder="Email" required>
      </div>
      <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
        <label for="txtProduct">
          <i class="fa fa-unlock-alt pr-1"></i>
            Password
        </label>
        <input pPassword type="password" [(ngModel)] = "suppplierSignUpPassword" class="p-inputtext-sm"
           name="suppplierSignUpPassword" id="suppplierSignUpPassword" placeholder="Password" required>
      </div>
      <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
        <label for="txtProduct">
          <i class="fa fa-unlock-alt pr-1"></i>
          Confirm Password
        </label>
        <input pPassword type="password" [(ngModel)] = "suppplierSignUpConfirmPassword" class="p-inputtext-sm"
         name="suppplierSignUpConfirmPassword" id="suppplierSignUpConfirmPassword" placeholder="password" required>
      </div>
      <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
        <input type="checkbox" class="checkboxform" id="exampleCheck1" class="p-inputtext-sm " required>
        <label class="form-check-label p-pl-2" for="exampleCheck1"> I agree to the Terms of User</label>
      </div>
      <div class="p-field  p-col-12 p-text-center" >
        <input type="submit" [disabled] = "createNewSupplier.invalid" [class.disable] = "createNewSupplier.invalid"
          value="Sign Up" class="btn btn-primary" >
      </div>
    </div>
  </form>
</p-dialog>

<!-- ------------Customer Sign In Model -->
<div class="modal fade" id="customerSignIn" bsModal #customerSignInModal="bs-modal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="customerSignInModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="customerSignIn" #customerSignIn="ngForm" (ngSubmit)="customerLogin()"
          style="text-align: -webkit-center;">
          <div class="form-group">
            <input type="number" class="form-control supplierSignInFormControl" [(ngModel)]="customerSignInContact"
              name="customerSignInContact" id="customercustomerSignInContact" placeholder="Contact Number">
          </div>
          <div class="form-group">
            <input type="submit" value="Sign In" class="btn btn-primary">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        New Here ?<a href="" class="px-3" data-toggle="modal" (click)="customerSignUpModal.show()">Join Us</a>
      </div>
    </div>
  </div>
</div>

<!-- ------------Customer Sign Up Model -->
<div bsModal #customerSignUpModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Customer Sign Up</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="customerSignUpModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="customerSignUp" #customerSignUp="ngForm" (ngSubmit)="createCustomer()">
          <div class="form-row">
            <div class="form-group col-6">
              <label for="txtProduct">
                <i class="fa fa-user pr-1"></i>
                Full Name</label>
              <input class="form-control form-control-sm" type="text" [(ngModel)]="customerSignUpFullName"
                name="customerSignUpFullName" id="customerSignUpFullName" required>
            </div>
            <div class="form-group col-6">
              <label for="txtProduct">
                <i class="fa fa-phone pr-1"></i>
                Mobile Number</label>
              <input class="form-control form-control-sm" type="number" [(ngModel)]="customerSignUpMobileNumber"
                name="customerSignUpMobileNumber" id="customerSignUpMobileNumber" required>
            </div>
            <div class="form-group col-6">
              <label for="txtProduct">
                <i class="fa fa-home pr-1"></i>
                Address</label>
              <input class="form-control form-control-sm" type="text" [(ngModel)]="customerSignUpAddress"
                name="customerSignUpAddress" id="customerSignUpAddress" required>
            </div>
            <div class="form-group col-6">
              <label for="txtProduct">
                <i class="fa fa-map pr-1"></i>
                Taluka</label>
              <input class="form-control form-control-sm" type="text" [(ngModel)]="customerSignUpTaluka"
                name="customerSignUpTaluka" id="customerSignUpTaluka" required>
            </div>
            <div class="form-group col-6">
              <label for="txtProduct">
                <i class="fa fa-envelope-open pr-1"></i>
                Post</label>
              <input class="form-control form-control-sm" type="text" [(ngModel)]="customerSignUpPost"
                name="customerSignUpPost" id="customerSignUpPost" required>
            </div>
            <div class="form-group col-6">
              <label for="txtProduct">
                <i class="fa fa-building pr-1"></i>
                District</label>
              <input class="form-control form-control-sm" type="text" [(ngModel)]="customerSignUpDistrict"
                name="customerSignUpTaluka" id="customerSignUpTaluka" required>
            </div>
            <div class="form-group col-12">
              <input type="checkbox" class="checkboxform" id="exampleCheck2">
              <label class="form-check-label" for="exampleCheck2">I agree to the Terms of User</label>
            </div>
            <div class="row col-12" style="justify-content: center;">
              <input type="submit" [disabled]="customerSignUp.invalid" [class.disable]="customerSignUp.invalid"
                value="Sign Up" class="btn btn-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>